[submodule "Assets/Lib/unity-scene-reference"]
	path = Assets/Lib/unity-scene-reference
	url = https://github.com/JohannesMP/unity-scene-reference.git
[submodule "Assets/voxul"]
	path = Assets/voxul
	url = https://github.com/cowtrix/voxul.git
[submodule "Assets/Lib/voxul"]
	path = Assets/Lib/voxul
	url = https://github.com/cowtrix/voxul.git
	branch = main
[submodule "Assets/Lib/InputSystem"]
	path = Assets/Lib/InputSystem
	url = https://github.com/cowtrix/InputSystem.git
[submodule "Assets/Lib/fnt2TMPro"]
	path = Assets/Lib/fnt2TMPro
	url = https://github.com/napbla/fnt2TMPro.git
[submodule "Assets/Lib/muzak"]
	path = Assets/Lib/muzak
	url = https://github.com/cowtrix/muzak.git
